@page "/family/{familyId}/edit"
@using h1.Data
@using global::Models
@inject NavigationManager NavigationManager
@inject IFamilyService FamilyServiceImpl

<h3>FamilyEdit</h3>
<p>id: @myFamily.Id</p>
<p>Address: @myFamily.ShowAddress()</p>

<h4>Adults:</h4>

<button @onclick='AddAdult'>Add</button>

<ol>
    @foreach (Adult adult in myFamily.Adults)
    {
        <li>
            @adult.FirstName @adult.LastName
            <a href="/family/@familyId/adult/@adult.Id/edit">Edit</a>
            <a href="/family/@familyId/adult/@adult.Id/delete">Delete</a>
        </li>
    }

</ol>

<h4>Children:</h4>

<button @onclick='AddChild'>Add</button>

<ol>
    @foreach (Child child in myFamily.Children)
    {
        <li>@child.FirstName @child.LastName</li>
    }

</ol>

<h4>Pets:</h4>
<button @onclick='AddFamilyPet'>Add</button>
<ol>
    @foreach (Pet pet in myFamily.Pets)
    {
        <li>
            @pet.Name
            <a href="/family/@familyId/pet/@pet.Id/edit">Edit</a>
            <a href="/family/@familyId/pet/@pet.Id/delete">Delete</a>
        </li>
    }
</ol>


@code {

    [Parameter]
    public string familyId { get; set; }

    private Family myFamily;

    protected override async Task OnInitializedAsync()
    {
        myFamily = FamilyServiceImpl.GetFamilyById(familyId);
    }

    public async Task AddFamilyPet()
    {
        NavigationManager.NavigateTo($"/family/{familyId}/pets/add");
    }

    public async Task AddAdult()
    {
        NavigationManager.NavigateTo($"/family/{familyId}/adults/add");
    }
    
    public async Task AddChild()
    {
        NavigationManager.NavigateTo($"/family/{familyId}/children/add");
    }
}