@page "/family/{familyId}/edit"
@using h1.Data
@using global::Models
@inject NavigationManager NavigationManager
@inject IFamilyService FamilyServiceImpl

<h3>FamilyEdit</h3>
<p>id: @myFamily.Id</p>
<p>Address: @myFamily.ShowAddress()</p>

<h4>Adults:</h4>
<ol>
    @foreach (Adult adult in myFamily.Adults)
    {
        <li>
            @adult.FirstName @adult.LastName
            <a href="/family/@familyId/adult/@adult.Id/edit">Edit</a>
            <a href="/family/@familyId/adult/@adult.Id/delete">Delete</a>
        </li>                            
    }

</ol>

<h4>Children:</h4>
<ol>
    @foreach (Child child in myFamily.Children)
    {
        <li>@child.FirstName @child.LastName</li>
    }

</ol>

<h4>Pets:</h4>
<ol>
    @foreach (Pet pet in myFamily.Pets)
    {
        <li>@pet.Name</li>
    }

</ol>


@code {

    [Parameter]
    public string familyId { get; set; }

    private Family myFamily;

    protected override async Task OnInitializedAsync()
    {
        myFamily = FamilyServiceImpl.GetFamilyById(familyId);
    }

}